html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#nav-bar {
background: #00a087;
color: #e8fdff;
font-size: 2em;
position: fixed;
height: 90px;
width: 100%;
top: 0;
padding-left: 2em;
padding-right: 2em;
z-index: 1;
}

#logo {
    height: 80px;
    width: 80px;
}

#nav-bar .header {
  padding-top: 0.6em;
  float: left;
}


#nav-bar .logo {
  float: left;
  line-height: 3em;
  margin-left: 5px;
  margin-right: 5px;
}

.composeBtn {
  background-color: #F7F5F4;
  color: #109D87;
  font-size: 0.9em;
  position: fixed;
  top: 20px;
  right: 20px;
  float: right;
  border-radius: 10px;
}

.composeBtn:hover {
  background-color: #FFFFFF;
  color: #14AC94;
  border-color: black;
}
