html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body section {
  padding: 0.5em;
}

.new-tweet {
  border-style: groove;
  border-color: #f2f2f2;
  width: 410px;
  background-color: #f2f2f2;
  margin: 20px;
  border-radius: 10px;
  padding-left: 2em;
  padding-right: 2em;
  position: relative;
}

section.form.input {
  float: left;
}

.new-tweet textarea {
  width: 346px;
}

.new-tweet span {
  padding-right: 5px;
  color: #244751;
}

span.counter {
  float: right;
}
