.new-tweet {
  height: 0px;
  overflow: hidden;
}

.showNewTweet {
  border-style: groove;
  border-color: #f2f2f2;
  width: 410px;
  background-color: #f2f2f2;
  margin-top: 55px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 2em;
  padding-right: 2em;
}

section.form.input {
  float: left;
}

.new-tweet textarea {
  width: 346px;
}

#newTweetError {
  color: #EC6128;
  font-style: italic;
  margin: 0;
}

#tweetBtn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.new-tweet span {
  padding-right: 5px;
  color: #244751;
}

span.counter {
  float: right;
}
